@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: 'Roboto';
    font-size: 18px;
}
.parte-cima{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.escolher-palavra{
    background-color: rgb(0, 146, 0);
    color: white;
    margin-bottom: 20px;
    font-weight: 700;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 400px;
}
.letras{
    display: flex;
    justify-content: space-between;
    width: 750px;
    flex-wrap: wrap;
}
.letras-caixa{
    display: flex;
    justify-content: center;
}
.letras li{
    font-size: 25px;
    background-color: grey;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resposta{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
input{
    margin-left: 10px;
    font-size: 20px;
    border-radius: 20px;
}
.chute{
    background-color: rgb(64, 0, 255);
    border: 3px solid rgb(52, 0, 207);
    font-size: 700;
    width: 100px;
    height: 50px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.palavra-escondida{
    display: flex;
}
